<template>

  <div class="checkout-box">
    <h1>carrito de compras</h1>
    <br>
    <ul class="checkout-list">
      <transition-group name="fade">
        <li v-for="(product, index) in getProductsInCart" :key="index" class="checkout-product">
          <v-img :src="product.images[0]" alt=""
                 class="product-image"/>
          <h3 class="product-name">{{ product.title }}</h3>
          <span class="product-price">R$ {{ product.price }},00 </span>
          <button class="product-remove" @click="remove(index)">X</button>
        </li>
      </transition-group>
    </ul>
    <div v-if="!hasProduct()" class="checkout-message">
      <h3>No Hay Productos...</h3>
      <router-link to="./">Volver a la lista de producros</router-link>
    </div>
    <h3 class="total" v-if="hasProduct()">
      Total: R$ {{ totalPrice() }}, 00
    </h3>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: 'Carrito',
    computed: {
      ...mapGetters([
        'getProductsInCart',
        'logeado'
      ]),
    },

    methods: {
      ...mapActions([
        'removeProduct',
      ]),
      hasProduct() {
        return this.getProductsInCart.length > 0;
      },
      totalPrice() {
        return this.getProductsInCart.reduce((current, next) =>
          parseInt(current) + parseInt(next.price), 0);
      },
      remove(index) {
        this.removeProduct(index);
      },
    },
    mounted() {
        if(this.logeado==false){
          this.$router.push({
            name:'login'
          })
        }

    }
  };
</script>

<style scoped>
  .checkout-box {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 1em;
  }

  .checkout-list {
    padding: 0;
  }

  .checkout-product {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr .5fr;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(73, 74, 78, 0.1);
    border-radius: 5px;
    list-style: none;
    box-sizing: border-box;
    padding: .8em;
    margin: 1em 0;
  }

  .checkout-product * {
    place-self: center;
  }

  .product-image {
    grid-column: 1/2;
    width: 50%;
  }

  .product-name {
    box-sizing: border-box;
  }

  .product-price {
    font-size: 1.2em;
    font-weight: bold;
  }

  .product-remove {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    background-color: #E0E0E0;
    color: #fff;
    cursor: pointer;
  }

  .total {
    font-size: 2em;
    font-weight: bold;
    align-self: flex-end;
  }

  .checkout-message {
    font-size: 1.5em;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all .5s;
  }

  .fade-enter, .fade-leave-to {
    transform: translateX(-40px);
    opacity: 0;
  }
</style>
