<template>
  <div>
    <v-container


    >

      <v-col md="5">
        <v-card class="elevation-12 mb-6">
          <v-toolbar
            color="primary"
            dark
            flat
          >
            <v-toolbar-title>detalles de "{{detalles.title}}"</v-toolbar-title>
            <v-spacer/>

          </v-toolbar>

          <v-card-text>
            <div class="text-center">
              <h3>Tags</h3>
              <v-chip
                class="ma-2"
                color="secondary"
                text-color="white"
                v-for="tag in detalles.tags"
              >
                <v-avatar left>
                  <v-icon>mdi-tag-text-outline</v-icon>
                </v-avatar>
                {{tag}}
              </v-chip>

              <v-divider></v-divider>
              <br>
              <h3>imagenes</h3>
              <v-carousel>
                <v-carousel-item
                  v-for="(img,i) in detalles.images"
                  :key="i"
                  :src="img"
                  reverse-transition="fade-transition"
                  transition="fade-transition"
                ></v-carousel-item>
              </v-carousel>
              <br>
              <v-divider
              ></v-divider>
              <div>
                <h3>Descripcion</h3>
                <p>{{detalles.description}}</p>
              </div>
              <v-divider
              ></v-divider>
              <div class="text-center">
                <h3>
                  Valoracion
                </h3>
                <v-rating v-model="detalles.valoration"></v-rating>
              </div>
              <v-divider
              ></v-divider>
              <div>
                <h3>Precio: ${{detalles.price}}</h3>
                <br>
                <a><h3>Autor: {{detalles.username}}</h3></a>
              </div>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-flex align-self-end>
              <v-chip
                class="text-uppercase ma-0"
                color="primary"
                label
                x-large
                @click.native="addProductToCart(detalles)"

              >
                <v-icon>mdi-cart-plus</v-icon>
                Comprar
              </v-chip>
            </v-flex>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-container>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';

  export default {
    name: "Detalles",
    data: () => {
      return {}
    },
    computed: {
      ...mapState(['detalles'])
    },
    methods: {
      ...mapActions([
        'addProduct',
        'showOrHiddenModal',
      ]),
      addProductToCart(product) {
        console.log('agregando');
        this.addProduct(product);
      },
    }
  }
</script>

<style scoped>

</style>
