<template>
  <div id="home">
    <articles>
      <banner />
      <div justify="center" align="center">
        <div class="text-center ma-12" v-if="cargando">
          <v-progress-circular
            :indeterminate="true"

            :size="100"

            :width="10"
            color="primary"
          ></v-progress-circular>
        </div>
      </div>
    </articles>


  </div>

</template>

<script>
  // Utilities
  import {
    mapMutations,
    mapState
  } from 'vuex'

  export default {
    name: 'Home',
    data: {
      info: ''
    },
    components: {
      Articles: () => import('@/components/home/Articles'),
      Banner: () => import('@/components/home/Banner'),

    },
    computed: {
      ...mapState(['logeado', 'cargando'])
    },
    methods: {

    }
  }
</script>
