<template>
  <div>
    <v-container


    >

      <v-col md="5">
        <v-card class="elevation-12 mb-6">
          <v-toolbar
            color="primary"
            dark
            flat
          >
            <v-toolbar-title>Login</v-toolbar-title>
            <v-spacer/>

          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field
                label="Login"
                name="login"
                prepend-icon="mdi-account"
                type="text"
                v-model="username"
              />

              <v-text-field
                id="password"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
                v-model="password"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn color="primary" @click="login()">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-dialog
        v-model="dialog"
        max-width="290"
      >
        <v-card>
          <v-card-title class="headline">Error</v-card-title>

          <v-card-text>
            Error: de inicio de sesion
            usuario o contraseña incorrecto
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              color="red darken-1"
              text
              @click="dialog = false"
            >
              reintentar
            </v-btn>


          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script>
  // Utilities
  import {
    mapMutations,
    mapState
  } from 'vuex'

  export default {
    name: 'Login',
    props: {
      source: String,
    },
    data: () => {
      return {
        username: '',
        password: '',
        dialog: false
      }
    },
    methods: {

      login() {


        this.axios.post('/auth/signin/', {
          username: this.username,
          password: this.password


        }).then(response => {
          console.log(response)
          this.setLogeo(response.data)


        }).catch(e => {
          this.dialog = true
          this.username = ''
          this.password = ''
          console.log(e);

        })

      },
      ...mapMutations(['setLogeo'])

    },
    mounted() {

    }
  }
</script>
