<template>
  <div id="misobras">
    <section id="feed">

      <feed :nombre="user.nombre" filtro="compras" >
        <h1>Mis compras</h1>
        <slot />
      </feed>
    </section>
  </div>
</template>

<script>
  import {mapState} from "vuex";

  export default {
    name: "MisCompras",
    components: {
      Feed: () => import('@/components/Feed')

    },
    computed: {
      ...mapState(['user'])
    }
  }
</script>

<style scoped>

</style>
