<template>
  <div id="misobras">
    <section id="feed">

      <feed :nombre="user.username" filtro="obras" >
        <h1>Mis obras</h1>
        <slot />
      </feed>
    </section>
  </div>
</template>

<script>
  // Utilities
  import {
    mapMutations,
    mapState
  } from 'vuex'
  export default {
    name: "MisObras",
    components: {
      Feed: () => import('@/components/Feed')

    },
    computed:{
      ...mapState(['user'])
    }
  }
</script>

<style scoped>

</style>
