<template>
  <v-container grid-list-xl text-xs-center>
    <v-layout row wrap>

      <v-flex d-flex xs12 sm6 md6>
        <v-layout row wrap>
          <v-flex d-flex xs10 offset-xs1>
            <v-card>
              <v-img src="https://picnic.media/wp-content/uploads/2019/05/Leonardo-Da-Vinci-1140x700.jpg"></v-img>
            </v-card>
          </v-flex>
          <v-flex d-flex xs10 offset-xs1>
            <v-card>
              <v-card-text>Aqui va la calificación</v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex xs10 offset-xs1>
            <v-card>
              <v-card-text>Aqui va el pais</v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex xs10 offset-xs1>
            <v-card>
              <v-card-text>Aqui va el nivel</v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex xs10 offset-xs1>
            <v-card>
              <v-card-text>Aqui va el reporte</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>


      <v-flex d-flex xs12 sm6 md6>
        <v-layout row wrap>

          <v-flex d-flex md9 offset-md2>
            <v-card>
              <v-card-text>Aqui va una descripcion</v-card-text>
            </v-card>
          </v-flex>

        </v-layout>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  // Utilities
  import {
    mapMutations,
    mapState
  } from 'vuex'
  export default {
    name: "Perfil",
    data: () => ({
      lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`
    }),

    components: {
      Feed: () => import('@/components/Feed')

    },
    computed:{
      ...mapState(['user'])
    }
  }
</script>

<style scoped>

</style>
