<template>
  <div>
    <v-container


    >
      <v-card class="elevation-12 mb-6" md="5">
        <v-toolbar
          color="primary"
          dark
          flat
        >
          <v-toolbar-title>publicar obra</v-toolbar-title>
          <v-spacer/>

        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="title"
              label="titulo"
              name="titulo"
              prepend-icon="mdi-format-title"
              type="text"
            />

            <v-text-field
              v-model="description"
              id="descripcion"
              label="descripcion"
              name="descripcion"
              prepend-icon="mdi-tooltip-text"
              type="text"/>
            <v-text-field
              v-model="precio"
              id="precio"
              label="precio"
              name="precio"
              prepend-icon="mdi-cash"
              type="num"/>
            <v-text-field
              v-model="tags"
              id="etiquetas"
              label="etiquetas"
              name="etiquetas"
              prepend-icon="mdi-tag-text-outline"
              type="text"
              hint="ingrese los nombres de etiquetas"
            />

            <h3>imagenes</h3>
            <div v-for="img in images" class="text-center" >
              <v-img style='display:block; width:100px;height:100px;' id='base64image'
                     :src='img'></v-img>
            </div>
            <div class="">

              <input @change="handleImage" class="custom-input" type="file" accept="image/*">
            </div>



          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn color="primary" @click="publicar()">Publicar</v-btn>
        </v-card-actions>
      </v-card>

    </v-container>
  </div>
</template>

<script>
  // Utilities
  import {
    mapMutations,
    mapState
  } from 'vuex'
  import router from "../router";
  export default {
    name: "Publicar",
    data: () => {
      return {
        title: "",
        description: "",
        username: "",
        images: [],
        tags: [],
        precio:0,
      }
    },
    methods: {
      handleImage(e) {
        const selectedImage = e.target.files[0]; // get first file
        this.createBase64Image(selectedImage);
      },
      createBase64Image(fileObject) {
        const reader = new FileReader();
        reader.onload = (e) => {
          console.log(e.target.result)
          this.addImagen(e.target.result);
        };
        reader.readAsDataURL(fileObject);
      },
      addImagen(imagen) {
        this.images.push(imagen)
      },
      publicar(){
        this.axios.post('/products',
          {
            title: this.title,
            description: this.description,
            username:this.user.username, //this.user.username,
            images: this.images,
            tags: this.tags.split(" "),
            price:this.precio,


          }).then(response => {
          // Respuesta del servidor
          console.log(response)
        }).catch(e => {
          console.log(e);
        });
        this.$router.push({
          name: "home"
        })
      }
    },
    computed:{
      ...mapState(["user"])
    }
  }
</script>

<style scoped>

</style>
