<template>
  <div>
    <v-container


    >

      <v-col md="5">
        <v-card class="elevation-12 mb-6">
          <v-toolbar
            color="primary"
            dark
            flat
          >
            <v-toolbar-title>registro</v-toolbar-title>
            <v-spacer/>

          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="username"
                label="username"
                name="username"
                prepend-icon="mdi-account"
                type="text"
              />

              <v-text-field
                v-model="name"
                id="name"
                label="name"
                name="name"
                prepend-icon="mdi-account"
                type="text"/>
              <v-text-field
                v-model="password"
                label="password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
              />

              <v-text-field
                v-model="email"
                id="email"
                label="email"
                name="email"
                prepend-icon="mdi-email"
                type="text"
              />
              <v-text-field
                v-model="country"
                label="country"
                name="country"
                prepend-icon="mdi-earth-box-plus"
                type="text"
              />

              <v-text-field
                v-model="city"
                id="city"
                label="city"
                name="city"
                prepend-icon="mdi-city"
                type="text"
              />


              <v-menu
                ref="menu1"
                v-model="menu1"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="dateFormatted"
                    label="fecha de nacimiento"
                    hint="MM/DD/YYYY format"
                    persistent-hint
                    prepend-icon="mdi-calendar"
                    @blur="date = parseDate(dateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
              </v-menu>


            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer/>
            <v-btn color="primary" @click="registrar()">registrarse</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-dialog
        v-model="dialog"
        max-width="290"
      >
        <v-card>
          <v-card-title class="headline">Error</v-card-title>

          <v-card-text>
            Error: registro erroneo intente de nuevo
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              color="red darken-1"
              text
              @click="dialog = false"
            >
              reintentar
            </v-btn>


          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script>
  import {mapMutations} from 'vuex';

  export default {
    name: "Regitrar",
    data: vm => ({
      username: "",
      name: "",
      email: "",
      password: "",
      country: "",
      city: "",
      role: 0,
      on: false,
      date: new Date().toISOString().substr(0, 10),
      dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
      menu1: false,
      menu2: false,
      dialog:false

    }),
    mounted() {
    },
    methods: {
      ...mapMutations(['setLogeo']),
      registrar() {
        this.axios.post('/user',
          {
            username: this.username,
            name: this.name,
            email: this.email,
            password: this.password,
            country: this.country,
            city: this.city,
            bday: this.date,
            role: 0


          }).then(response => {
          // Respuesta del servidor
          this.axios.post('/auth/signin/', {
            username: this.username,
            password: this.password


          }).then(response => {
            console.log(response)
            this.setLogeo(response.data)

          }).catch(e => {
            console.log(e);
          })
        }).catch(e => {
          console.log(e);
          this.dialog=true
        });
      },
      formatDate(date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${month}/${day}/${year}`
      },
      parseDate(date) {
        if (!date) return null

        const [month, day, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      }
    },
    computed: {
      computedDateFormatted() {
        return this.formatDate(this.date)
      },
    },

    watch: {
      date(val) {
        this.dateFormatted = this.formatDate(this.date)
      },
    }

  }
</script>

<style scoped>

</style>
