<template>
  <section id="feed">
    <feed nombre="" filtro="">
      <slot />
    </feed>
  </section>
</template>

<script>
  export default {
    components: {
      Feed: () => import('@/components/Feed')
    }
  }
</script>
