<template>
  <div class="contenedor">
  <base-card dark >
    <v-img
      class="grey lighten-2 baner"
      height="400"
      width="100%"

      :src="require(`@/assets/leonardo-da-vinci-slide.jpg`)"
    >
      <v-layout
        fill-height
        align-center
        pa-3
      >
        <v-flex
          xs12
          md7
          offset-md5
        >
          <h1 class="display-3 font-weight-light">
            Web Gallery
          </h1>
          <h2 class="subheading text-uppercase pl-2 mb-4">
            Tu galeria de arte online
          </h2>
          <v-btn
            color="primary"
            depressed
            round
            v-if="!logeado"
            @click="toRegistrar()"
          >
            registrate
          </v-btn>
        </v-flex>
      </v-layout>
    </v-img>
  </base-card>
  </div>
</template>

<script>

  // Utilities
  import {

    mapState
  } from 'vuex'
  export default {
    name: 'Banner',
    methods:{
      toRegistrar(){
        this.$router.push({
          name: "registrar"
        });
      }
    },
    mounted() {

    },
    computed:{
      ...mapState(['logeado'])
    }
  }
</script>
<style lang="css">
  .contenedor:hover .baner{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: saturate(180%);
  }
  /*
  .contenedor {
    overflow: hidden;
  }*/
</style>
