<template>
  <v-flex
    xs12
    :class="classes"
    id="articulo"
  >
    <base-card
      :height="value.prominent ? 450 : 350"
      color="grey lighten-1"
      dark
      href="#!"
      class="contenedor"
    >
      <v-img
        :src="value.images[0]"
        height="100%"
        class="articulo"
        @click.stop="detalles(value)"
      >
        <v-layout
          v-if="!value.prominent"
          fill-height
          wrap
          text-xs-right
          ma-0
        >
          <v-flex xs12>
            <v-chip
              label
              class="mx-0 mb-2 text-uppercase"
              color="grey darken-3"
              text-color="primary"
              small
              @click.stop=""
            >
              {{ value.title }}

            </v-chip>
            <h3 class="title font-weight-bold text-no-wrap mb-2 text-example" @click.native="openModal()"
                color="grey darken-3">
              {{ value.username }}
            </h3>
            <h3 class="caption text-example" color="grey darken-3">

              {{ value.price }}
            </h3>
          </v-flex>
          <v-flex align-self-end v-if="$route.path=='/'">
            <v-chip
              class="text-uppercase ma-0"
              color="primary"
              label
              x-large
              @click.stop="addProductToCart(value)"

            >
              <v-icon>mdi-cart-plus</v-icon>
              Comprar
            </v-chip>
          </v-flex>
        </v-layout>
      </v-img>
    </base-card>
  </v-flex>
</template>

<script>
  import {mapMutations,mapGetters, mapActions} from 'vuex';

  export default {
    props: {
      size: {
        type: Number,
        required: true
      },

      value: {
        type: Object,
        default: () => ({})
      }
    },

    computed: {
      classes() {
        return {
          'md6': this.size === 2,
          'md4': this.size === 3
        }
      },

      ...mapGetters({
        currentProduct: 'getCurrentProduct',
      }),
    },
    methods: {
      ...mapActions([
        'addProduct',
        'showOrHiddenModal',
      ]),
      ...mapMutations(['setDetalles']),
      addProductToCart(product) {
        console.log('agregando');
        this.addProduct(product);
      },
      detalles(value){
        this.setDetalles(value)
        this.$router.push({
          name:'detalles',
        })
      }
    }
  }
</script>

<style>
  .contenedor:hover .articulo {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: saturate(150%);

    box-shadow: 0px 0px 5px 5px rgba(203, 170, 92, 0.80);


  }

</style>
