<template>
  <v-container
    grid-list-xl
  >
    <v-layout wrap>
      <v-flex xs12>
        <slot/>
      </v-flex>

      <feed-card
        v-for="(article, i) in getArticles"
        :key="article.title"
        :size="layout[i]"
        :value="article"
      />
    </v-layout>

    <v-layout align-center>
      <v-flex xs3>
        <base-btn
          v-if="page !== 1"
          class="ml-0"
          title="Previous page"
          square
          @click="page--"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </base-btn>
      </v-flex>

      <v-flex
        xs6
        text-xs-center
        subheading
      >
        PAGE {{ page }} OF {{ pages }}
      </v-flex>

      <v-flex
        xs3
        text-xs-right
      >
        <base-btn
          v-if="pages > 1 && page < pages"
          class="mr-0"
          title="Next page"
          square
          @click="page++"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </base-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  // Utilities
  import {
    mapMutations,
    mapState
  } from 'vuex'

  export default {
    props: {
      nombre: {
        type: String,
        required: true
      },
      filtro: {
        type: String,
        required: true
      },
    },
    name: 'Feed',

    components: {
      FeedCard: () => import('@/components/FeedCard')
    },

    data: () => ({
      layout: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
      page: 1
    }),

    computed: {
      ...mapState(['articles']),
      pages() {
        return Math.ceil(this.articles.length / 6)
      },
      paginatedArticles() {
        const start = (this.page - 1) * 6
        const stop = this.page * 6

        return this.articles//.slice(start, stop)
      },
      getArticles: function () {
        switch (this.filtro) {
          case 'obras':
            return this.articles.filter(
              (article) => article.username == this.nombre
            )
            break;
          case 'compras':
            return this.articles.filter(
              (article) => article.username == this.nombre
            )
            break;

          default:
            return this.articles

            break;
        }
      }
    },
    mounted() {

      this.loadProducts()

    },
    methods: {
      ...mapMutations(['loadProducts', 'showCarga'])
    },

    watch: {
      page() {
        window.scrollTo(0, 0)
      }
    }
  }
</script>
